label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.521);
    color: white;
    border-radius: 5px;  
    padding: 10px;
    border: rgba(252, 251, 251, 0.521) 1px solid;
}

/* Input Field Styling */
.botreg input[type="text"],
.botreg input[type="password"],
input[type="email"],
input[type="date"],
input[type="file"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color:rgba(0, 0, 0, 0.993);
    color: white;
    border: 1px solid rgba(252, 251, 251, 0.521);
    
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid rgba(252, 251, 251, 0.521);
    border-radius: 5px;
    background-color:rgba(59, 43, 43, 0.116);
    color: white;   
}