label {
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    background-color:rgb(0, 0, 0);
    color: white;
    border-radius: 23px;   
}

/* Input Field Styling */
.botreg input[type="text"],
.botreg input[type="password"],
input[type="email"],
input[type="date"],
input[type="file"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color:rgba(0, 0, 0, 0.993);
    color: white;
    
}

/* Form Styling */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:rgba(59, 43, 43, 0.116);
    color: white;   
}