/* Author: Kyle Hollett */
/* Date: 2024-05-17 - 2024-05-25 */
/* Description: Automobile website :) */

body {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #000000, #ca0707af, #ca0707af, #ca0707af, #000000); /* Gradient background */
    min-height: 100vh; /* Ensures the body takes full height of the viewport */
    margin: 0; /* Removes default margin */
}
h1 {
    color: red;
    text-align: center;
}

.desktopcontainer {
    width: 1440px;
    height: 100%;
    background: #A64747;
}

.navbarbottom {
    display: flex;
    justify-content: center; /* This aligns nav buttons evenly */
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.65);
    height: 42px;
    position: relative;
}

.navbartop {
    display: flex;
    justify-content: center; /* This aligns nav buttons evenly */
    box-sizing: border-box;
    background: black;
    height: 42px;
    position: relative;
}

.navbutton1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d34c23af;
    border-radius: 23px;
    width: 90px;
    height: 32px;
    position: relative;
    color: white; /* Assuming you want the text color to be white */
    margin:5px 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbutton1:focus {
    border-color: #007BFF;
}

.navbutton1:hover {
    background-color: #0056b3;
}

.navbutton1:active {
    background-color: #004494;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}
.Jeepvideo {
    display: flex;
    justify-content: center;
    border-radius: 23px;
}
#date-time {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
.about-section{    
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;}
.text-align-center{
text-align:center
}
h1 {
    color: #ffffff; /* Choose a color that contrasts well with the background */
    font-size: 32px; /* Increase font size */
    font-weight: bold; /* Make the font bold */
    text-shadow: 2px 2px 4px #000000; /* Add a shadow to make it pop */
    font-family: 'Arial', sans-serif; /* Use a modern font */
    padding: 10px; /* Add some padding */
    background-color: rgba(0, 0, 0, 0.5); /* Optional: a semi-transparent background */
    border-radius: 5px; /* Optional: rounded corners */
  }

p {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    line-height: 1.6;
    padding: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
.image1 {
    display: flex;
    justify-content: flex-start;
    height:315px;
    width:300px;
    margin-right: 10px;
    border-radius: 23px;
}
.image2 {
    display: flex;
    justify-content: flex-end;
    height:315px;
    width:300px;
    margin-left: 10px;
    border-radius: 23px;
}
.container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}
.aboutnames {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 23px;
    width: 170px;
    color: #1573c0;
    margin: 5px 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px #000;

}
.imageabout1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.imageabout2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 50px 110px 0px 110px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.imageabout3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.bar {
    font-size: 38px; 
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}
.sealteamsix{
    font-weight: 700;
    font-size: 50px;
    font-family: 'Arial Narrow Bold', sans-serif;
    color:#1573c0;
    text-shadow: 2px 2px 5px #000;
}
p{
    font-family: 'Arial', sans-serif;
    color:white;
    margin-bottom: 20px;
    padding:10px 100px 10px 100px;
    font-size: 1.1em;
    line-height: 1.6;
    text-align: justify;
    hyphens: auto;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: none;
    letter-spacing: 0.5px;
    word-spacing: 1px;

}

@media (max-width: 600px) {
    .content {
        padding: 20px;
    }

    p {
        font-size: 1em;
    }

    h1 {
        font-size: 1.5em;
    }
}

blockquote{
    font-family: 'Arial', sans-serif;
    color:white;
    margin-bottom: 20px;
    padding:10px 100px 10px 100px;
    font-size: 1.1em;
    line-height: 1.6;
    text-align: justify;
    hyphens: auto;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: none;
    letter-spacing: 0.5px;
    word-spacing: 1px;

}
li, ul{
        font-family: 'Arial', sans-serif;
        color:white;
        margin-bottom: 20px;
        padding:10px 100px 10px 100px;
        font-size: 1.1em;
        line-height: 1.6;
        text-align: justify;
        hyphens: auto;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        text-transform: none;
        letter-spacing: 0.5px;
        word-spacing: 1px;
}
.listcontainer {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}
.listimage {
    margin-left: 10px;
    height: 490px;
    width: 600px;
    border-radius: 23px;
    margin-top:10px;
}
.radio-labelred {
    color:red;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.radio-labelgreen {
    color:green;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.radio-labelblue {
    color:blue;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.radio-labelyellow {
    color:yellow;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.radio-labelpurple {
    color:purple;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.color-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.imagecolor {
    width: 250px;
    height: 325px;
    border-radius: 23px;
    overflow: hidden; 
}

.hover-imagecolor {
    transition: transform 0.3s ease; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.hover-imagecolor:hover {
    transform: scale(1.2); 
}

.buynowtext{
    color: #ffffff; /* Choose a color that contrasts well with the background */
    font-size: 32px; /* Increase font size */
    font-weight: bold; /* Make the font bold */
    text-shadow: 2px 2px 4px #000000; /* Add a shadow to make it pop */
    font-family: 'Arial', sans-serif; /* Use a modern font */
    padding: 10px; /* Add some padding */
    background-color: rgba(0, 0, 0, 0.5); /* Optional: a semi-transparent background */
    border-radius: 5px; /* Optional: rounded corners */
}
.contactus{
    color: #ffffff; /* Choose a color that contrasts well with the background */
    font-size: 32px; /* Increase font size */
    font-weight: bold; /* Make the font bold */
    text-shadow: 2px 2px 4px #1223c059; /* Add a shadow to make it pop */
    font-family: 'Arial', sans-serif; /* Use a modern font */
    padding: 10px; /* Add some padding */
    background-color: rgba(11, 14, 230, 0.5); /* Optional: a semi-transparent background */
    border-radius: 5px; /* Optional: rounded corners */
    border: 2px solid #ffffffa6;
}
.audio-container {
    width: 25%;
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-left:565px;
}

.logocontainer {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.logowrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-grow: 1; /* This will make sure it takes up as much space as possible */
    margin-left: 225px;
    margin-top: 1px;
}

.logos {
    height: 38px;
    width: 38px;
    margin-left: 100px;
}

.fakestuff {
    display: flex;
    justify-content: flex-end; 
    color: rgba(255, 255, 255, 0.918);
    padding: 5px;
}
.fake:hover {
    color: blue;
}

#margin5 {
    margin: 5px;
}