/* Author: Kyle Hollett */
/* Date: 2024-05-17 - 2024-05-25 */
/* Description: Automobile website :) */

body {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #000000, #d34c23af, #d34c23af, #d34c23af, #000000); /* Gradient background */
    min-height: 100vh; /* Ensures the body takes full height of the viewport */
    margin: 0; /* Removes default margin */
}
h1 {
    color: red;
    text-align: center;
}

.desktopcontainer {
    width: 1440px;
    height: 1024px;
    background: #A64747;
}

.navbarbottom {
    display: flex;
    justify-content: center; /* This aligns nav buttons evenly */
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.65);
    height: 42px;
    position: relative;
}

.navbartop {
    display: flex;
    justify-content: center; /* This aligns nav buttons evenly */
    box-sizing: border-box;
    background: black;
    height: 42px;
    position: relative;
}

.navbutton1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d34c23af;
    border-radius: 23px;
    width: 90px;
    height: 32px;
    position: relative;
    color: white; /* Assuming you want the text color to be white */
    margin:5px 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbutton1:focus {
    border-color: #007BFF;
}

.navbutton1:hover {
    background-color: #0056b3;
}

.navbutton1:active {
    background-color: #004494;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}
.Jeepvideo {
    display: flex;
    justify-content: center;
}